<nav class="navbar navbar-expand-md navbar-dark bg-dark">
 <div class="container">
  <a class="navbar-brand" routerLink="/home" routerLinkActive='active'>Dating App</a>    
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink="/members" *ngIf="loggedIn" routerLinkActive='active'>Matches </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" *ngIf="loggedIn" routerLink="/lists" routerLinkActive='active'>Lists</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/messages"  *ngIf="loggedIn"   routerLinkActive='active'>Messages</a>
    </li>    
     
  </ul>
  <app-login></app-login>
 </div>
  
</nav>